<div class="navigation col-lg-12">
  <nav class="navbar">

    <div class="nav navbar-nav navbar-header">
      <a href="#"
         class="navbar-brand">{{title}}</a>
    </div>

    <ul class="nav navbar navbar-nav justify-content-center navbar-center">
      <li>
        <a [routerLink]="['/inicio']"
           [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-home"></span>
          Inicio
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
      <li>
        <a href="#">
          <span class="glyphicon glyphicon-home"></span>
        </a>
      </li>
    </ul>

    <ul class="nav navbar navbar-nav navbar-right"
        *ngIf="!identity">
      <li>
        <a [routerLink]="['/login']"
           [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-log-in"></span>
          Login
        </a>
      </li>
      <li>
        <a [routerLink]="['/registro']"
           [routerLinkActive]="['active']">
          <span class="glyphicon glyphicon-user"></span>
          Registro
        </a>
      </li>
    </ul>

    <ul class="nav navbar navbar-nav navbar-right"
        *ngIf="identity">
      <li class="avatar">

      </li>
      <li class="dropdown">
        <a class="dropdown-toggle"
           data-toggle="dropdown"
           href="#">
          {{identity.name}} <span class="caret"></span>
        </a>

        <ul class="dropdown-menu">
          <li>
            <a href="#">
              <span class="glyphicon glyphicon-user"></span>
              Mi perfil
            </a>
          </li>
          <li>
            <a [routerLink]="['/mis-datos']">
              <span class="glyphicon glyphicon-cog"></span>
              Mis datos
            </a>
          </li>
          <li>
            <a class="pointer"
               (click)="logout()">
              <span class="glyphicon glyphicon-log-out"></span>
              Cerrar sesión
            </a>
          </li>
        </ul>
      </li>
    </ul>
  </nav>
</div>
