/*GENERALES*/
.h2-strong {
  text-align: center;
  font-size: 50px;
  font-weight: bold;
  margin-left: 13px;
  margin-bottom: 20px;
  padding-bottom: 15px;
  border-bottom: 1px solid #eee;
  color: #03ed96;
}

.col-lg-1,
.col-lg-10,
.col-lg-11,
.col-lg-12,
.col-lg-2,
.col-lg-3,
.col-lg-4,
.col-lg-5,
.col-lg-6,
.col-lg-7,
.col-lg-8,
.col-lg-9 {
  float: none !important;
  margin: 0px auto;
}

.label-green {
  color: #03ed96;
  font-size: 16px;
}

body {
  background-color: #293039 !important;
}

.active {
  background-color: #169e6c;
}

.pointer {
  cursor: pointer;
}

/*CABECERA*/

.navbar-brand {
  height: 53px !important;
}

.navigation {
  padding: 0px !important;
}

.navigation .navbar {
  border-radius: 0px !important;
  background-color: #03ed96;
  border: none;
}

.navigation .navbar * {
  font-size: 20px;
  color: #293039 !important;
}

.navigation .navbar a:hover {
  background-color: #169e6c;
}

.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  background-color: #169e6c !important;
}

.navbar-center {
}

/*Formu*/
